**1\. Import the different libraries to be used for the data exploration and prediction**

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt  # Data visualization
import numpy as np   #fundamental package for scientific computing
import pandas as pd  #fundamental package for data analysis
from sklearn.ensemble import RandomForestClassifier #package for binary classification

In [2]:
!ls

100.jpg					     test_data.csv.csv_fixed
charles_verleyen_analysis_predictions.ipynb  Test Task.pdf
README.md				     train_data.csv.csv_fixed

**2\. Read the train_data and assign it to the variable "df"**

In [3]:
df = pd.read_csv("train_data.csv.csv_fixed")

**3\. Data exploration**

In [5]:
df.head()

   user_id      channel  age       os  gender country  customer
0   100000   00 Organic   20      ios  female      GB         0
1   100001   00 Organic   30      ios  female      US         1
2   100002  31 OUTBRAIN   35      ios  female      DE         0
3   100003   00 Organic   26  android  female      US         0
4   100004   32 Taboola   55      ios  female      US         1

In [46]:
df.info() #high overview of the dataset with columns datatype

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82908 entries, 0 to 82907
Data columns (total 7 columns):
user_id     82908 non-null int64
channel     82908 non-null object
age         82908 non-null int64
os          82908 non-null object
gender      82908 non-null object
country     82908 non-null object
customer    82908 non-null int64
dtypes: int64(3), object(4)
memory usage: 4.4+ MB

In [47]:
df.describe() #handy statistics about numerical columns

             user_id           age      customer
count   82908.000000  82908.000000  82908.000000
mean   141453.500000     31.151734      0.297848
std     23933.622396     11.596902      0.457315
min    100000.000000     12.000000      0.000000
25%    120726.750000     22.000000      0.000000
50%    141453.500000     29.000000      0.000000
75%    162180.250000     38.000000      1.000000
max    182907.000000     96.000000      1.000000

In [48]:
df["channel"].unique()

array(['00 Organic', '31 OUTBRAIN', '32 Taboola', '22 Adwords (Search)',
       '42 Adcolony', '12 PINTEREST', '11 FB', '41 Youtube',
       '61 Web/Content', '95 LAT', '69 Others', '21 ASA', '62 Social Media'], dtype=object)

In [49]:
df["country"].unique()

array(['GB', 'US', 'DE', 'MX', 'ES', 'AU', 'CA', 'FR'], dtype=object)

In [50]:
df["age"].unique()

array([20, 30, 35, 26, 55, 36, 31, 19, 23, 22, 24, 47, 14, 50, 32, 46, 38,
       40, 41, 13, 17, 25, 29, 27, 48, 49, 21, 52, 42, 34, 45, 39, 43, 33,
       16, 18, 59, 56, 28, 53, 37, 12, 54, 60, 44, 51, 15, 61, 68, 58, 62,
       57, 64, 65, 69, 63, 66, 70, 67, 71, 73, 76, 77, 72, 95, 78, 80, 75,
       74, 79, 82, 87, 86, 94, 85, 96, 83, 81])

In [51]:
df["os"].unique()

array(['ios', 'android'], dtype=object)

In [52]:
for i in df.columns:
    if df[i].dtype == "O":
        print(i)

channel
os
gender
country

In [53]:
df.isnull().sum() #clean dataset with no "nan" values

user_id     0
channel     0
age         0
os          0
gender      0
country     0
customer    0
dtype: int64

**4\. Data visualization**